.body {
  display: flex;
  justify-content: space-around;
  margin: auto;
}

.body__part {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 700px;
  width: 500px;
}



